
.container022{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container022 .form{
    background: #fff;
    padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 320px;
    width: 440px;
    margin-left: auto;
}
.container022 .form2{
    height: 370px !important;
}
.container022 .form3{
    height: 430px !important;
}
.container022 .form  .form-control{
    margin-bottom: 20px;
}
.container022 .form .forget-pass{
    margin: -15px 0 15px 0;
}
.container022 .form  .forget-pass a{
   font-size: 15px;
}
.container022 .form  .button{
    background: #6665ee;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container022 .form  .button:hover{
    background: #5757d1;
}
.container022 .form  .link{
    padding: 5px 0;
}
.container022 .form  .link a{
    color: #6665ee;
}
.container022 .login-form  p{
    font-size: 14px;
}
.container022 .row .alert{
    font-size: 14px;
}
